
@model RegisterVM
<form action="/" method="post" class=" m-5 py-5">
    <h3 class="text-muted mb-1">Create an Account</h3>
    <hr/>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="mb-3">
        <label asp-for="Email"></label>
        <input type="email" asp-for="Email"  autocomplete="Email" class="form-control" placeholder="Enter your email" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Password"></label>
        <input type="password" asp-for="Password" class="form-control" placeholder="Enter your Password" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="ConfirmPassword"></label>
        <input type="password" asp-for="ConfirmPassword"  class="form-control" placeholder="Enter your ConfirmPassword" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <button class="btn btn-primary my-2" type="submit">Submit</button>

</form>